



















.header {
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0f6f0d;
}

.heading {
   color: white; 
}